* {
    color:aliceblue; /*cor da letra(fonte)*/
    font-family: 'Segoe UI', 'Roboto';
}

body{
    background-color: #ffe8d2;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main-title{
    background: #ee751c;
    text-align: center;
    padding: 15px;
    width: 100%;
}

.main-title h1{
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.main-title p{
    font-size: 17px;
    color: aliceblue;
}

h2{
    font-size: 25px;
    color: #620000;
    text-align: center;
    margin-top: 60px;
}

img{
    width: 20%;
    display: flex;
    border-radius: 14px;
}

 p{
    color: #534C4C;
}

.caixas h4{
    color: #620000;
}

.box{
    background-color: yellow;
    height: 70px;
    width: 70px;
}